[Unit]
Description=observe le statut de svxlink

[Service]
Type=simple
ExecStart=/home/pi/svxlink/svxstatut.sh


[Install]
WantedBy=multi-user.target
